/* style.css */

:root {
    --bg-color: lightblue;
    --text-color: #333; /* Dark text color */
    --note-color: teal; /* White note background */
    --note-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Note box shadow */
    --button-bg-color: #30839f; /* Button background color */
    --button-hover-color: #1f6c7c; /* Button hover background color */
}

body
{
    font-family: "Indie Flower", cursive;
    font-weight: bold;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar
{
    background-color: #30839f;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo
{
    font-size: 24px;
    color: black;
}

.navbar .nav-links
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .nav-links li {
    margin-right: 20px;
}

.navbar .nav-links li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: darkslategrey;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar .nav-links li button:hover {
    color: #ccc;
}

#ldmode-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Styling for the todo container */
.todo-container {
    width: 500px;
    font-family: "Segoe UI Semibold", sans-serif;
    background-color: lightgoldenrodyellow;
    padding: 20px;
    margin: 0 auto; /* Center the todo-container horizontally */
    position: relative; /* Ensure the container is positioned relatively */
    border-radius: 8px; /* Add some border radius for a smoother appearance */
    overflow: hidden; /* Hide any overflow content to maintain smooth edges */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

/* Styling specifically for the hill.png background image */
.todo-container.hill-background
{
    background-position: bottom; /* Position the hill image at the bottom center */
    background-size: auto; /* Ensure the background image covers the entire container */
}

h3
{
    font-family: "Segoe UI Semibold", sans-serif;
    color: black;
    font-size: 23px
}

.todo-header {
    text-align: left;
    margin-bottom: 20px;
}

.todo-list
{
    list-style-type: none;
    padding: 2px;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.todo-item:last-child {
    border-bottom: none;
}

.todo-item input[type="checkbox"]
{
    margin-right: 10px;
}

.todo-item label
{
    flex: 1;
    margin: 0;
}

.add-task-bar
{
    display: flex;
    color: lightgoldenrodyellow;
    align-items: normal;
}

.add-task-input {
    flex: 1;
    border: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #F6EEA0;
}

.add-task-button
{
    padding: 10px 20px; /* Increased padding for the button */
    background-color: var(--button-bg-color); /* Use custom button background color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff; /* Button text color */
}

.add-task-button:hover {
    background-color: var(--button-hover-color); /* Use custom hover background color */
}

.priority-dropdown
{
    padding: 5px;
    background-color: beige;
    border-radius: 4px;
    margin-right: 10px;
}

.login-container {
    background-color: var(--note-color);
    padding: 60px;
    border-radius: 8px;
    box-shadow: var(--note-shadow);
    width: 400px; /* Adjusted width for better presentation */
    margin: 100px auto; /* Center the login container vertically and horizontally */
}

.login-container h2 {
    margin-bottom: 40px;
    font-size: 24px; /* Increased font size for headings */
}

.form-group {
    margin-bottom: 20px;
    text-align: left; /* Align form elements to the left */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%; /* Make input fields full-width */
    padding: 10px;
    background-color: lightseagreen;
    border: 1px solid darkslategrey; /* Light border for input fields */
    border-radius: 4px;
    font-family: inherit;
}


.icon {
    width: 65px;
    height: 60px;
}

.todo-item label {
    position: relative;
    display: inline-block;
    text-align: left; /* Align the text to the left within the label */
}

.todo-item input[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    bottom: 37%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
    animation: bounce 0.5s alternate;
    transform-origin: bottom;
}

@keyframes bounce {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

/* Below: about.html exclusive items */


.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5%;
    align-items: center;
}

.person {
    /* flex: 1; */
    margin: 2%;
    padding: 1%;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    background-color: #C1DBD0;
    border-radius: 27px;
    color: #061F24;
    transition: 0.2s;
    width: 256px;
    /* height: 256px; */
    box-shadow: 8px 8px 0px #a4bab1;
}

.person p {
    padding: 5%;
}

.person:hover {
    background-color: #cde9dd;
    box-shadow: 4px 4px 0px #a4bab1;
    transform: scale(1.05);
}


.person img {
    width: 100%;
    height: 100%;
    /* margin: 5%; */
    border-radius: 17px;
    transition: 0.3s;
    overflow: hidden;
}


.title
{
    font-size: 4rem;
    font-family: "Inter", sans-serif;
    /* font-family: "Azeret Mono", monospace; */
    color: darkslategrey;
    margin: 5%;
    margin-top: 10%;
    text-shadow: 2px 2px 0px black;
    transition: 0.3s;
}



.title:hover
{
    transform: scale(1.02);
}







